<% var d = jsonData; -%>
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta property="og:type" content="<%- d.ogtype %>">
	<title><%- d.title %>｜タイトル</title>
	<meta property="og:title" content="<%- d.title %>タイトル">
	<meta name="description" content="<%- d.description %>、｜ディスクリプション">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="＠GRANSTAR_JAPAN">
	<link rel="stylesheet" href="<%- d.path %>css/style.css">
	<%- include('./_svg') %>
</head>
<body>
<div class="l-wrapper">